---
- name: Diagnóstico de Apache en localhost
  hosts: localhost
  become: true
  gather_facts: false
  vars:
    ansible_remote_tmp: "/tmp/.ansible-123324453"
  tasks:

  - name: validar el estado de Apache
    command: systemctl status apache2
    register: apache_status
    ignore_errors: true
  - debug:
      msg: "Apache está activo y funcionando."
    when: apache_status.rc == 0
