<VirtualHost *:80>
    ServerName {{ site.domain }}
    ServerAlias www.{{ site.domain }}

    DocumentRoot /home/semaphore/{{ site.linux_user }}

    DirectoryIndex index.php index.html home.html

    <Directory "/home/semaphore/{{ site.linux_user }}">
        Options Indexes FollowSymLinks
        AllowOverride All
        # Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ site.domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ site.domain }}_access.log combined
</VirtualHost>
