<VirtualHost *:80>
    ServerName {{ site.domain }}
    ServerAlias www.{{ site.domain }}

    DocumentRoot /home/{{ site.linux_user }}

    <Directory "/home/{{ site.linux_user }}">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ site.domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ site.domain }}_access.log combined
</VirtualHost>
